.layout {
  & {
    display: flex;
    flex-direction: column;
  }

  > * {
    flex: none;
  }
  > .main {
    flex: 1 0 auto;
  }
  > .main > *:nth-child(even) {
    background-color: var(--brand-lighter);
  }
}