.backdrop {
  & {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > * {
    margin: auto;
  }
}

.card {
  & {
    position: relative;
    background-color: var(--white);
    width: 600px;
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 992px) {
      width: 100%;
      border-radius: 0;
    }
  }

  .header {
    background-color: var(--brand);
    padding: 33px 40px;
    position: sticky;
    top: 0;

    @media (max-width: 992px) {
      padding: 24px 30px;
    }
  }
  
  .header > .title {
    margin: 0;
    color: var(--white);
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
  }

  .body {
    padding: 30px 40px 45px;
    max-height: calc(100vh - 97px);
    overflow: auto;

    @media (max-width: 992px) {
      padding: 20px 30px 80px;
      max-height: calc(100vh - 78px);
    }
  }
}

.close {
  & {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    font-size: 32px;
    font-weight: 700;
    will-change: color;
    transition: var(--transition-default);
    transition-property: color;
  }
}